* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

  /* Estilo para el contenedor principal del formulario */
  main form.main-form {
    background-color: #ebebeb;
    width: 350px;
    margin: auto;
    padding: 20px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);   
  }

  /* Estilo para los contenedores de los campos de entrada */
  div {
    margin-bottom: 15px;
  }
  
  /* Estilo para los campos de entrada de texto */
  main form div
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo para los campos de radio */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Estilo para el botón de envío */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para el botón de reinicio */
  button[type="reset"] {
    background-color: #ccc;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para las etiquetas */
  label {
    display: block;
    margin-bottom: 5px;
  }

  main form div.profile {
    display: flex;
    flex-wrap: wrap;
  }

  main form div.profile h4 {
    width: 100%;
    margin-bottom: 10px;
  }

  main form div.profile input, label {
    margin: 15px;
  }

  main form div.interests h4 {
    margin-bottom: 10px;
  }

  main form div.interests div {
    display: flex;
  }

  main form div.user-photo h4 {
    margin-bottom: 15px 0 15px 0;
  }

  main form div.user-photo input {
    margin: 20px 0 15px 0;;
  }

  main form div.send-cancel {
    display: flex;
    justify-content: center;
  }

  /* MD2 */
  main form div.send-cancel button {
    margin: 10px;
    transition: color, background-color 300ms;
  }

  main form div.send-cancel button:hover {
    background-color: #0022AA;
    color: #ffffff;
  }
/* End MD2 */
  
  @media (min-width: 768px) {
    main form.main-form {
      width: 600px;
    }
   }

  @media (min-width: 1280px) {
    main form.main-form {
      width: 750px;
    }        
  }